{% extends 'base.html' %}

{% block content %}
{% load static %}


<form method="POST" id="order-form">
{% csrf_token %}

{{ order_form.as_p }}

{{ order_item_formset.management_form }}
<div id="order_item_formset">
</div>
<button type="button" id="add-model-form">Add new book</button>
<br>
<br>
<button type="submit">Save Order</button>
</form>

<div id="empty_form" style="display:none">
    <div class='form-row' id='form-row-__prefix__'>
        {{ order_item_formset.empty_form }}
        <button type="button" class="remove-form">X</button>
    </div>
</div>
<script>
$(document).ready(function() {
    $('#id_form-__prefix__-DELETE').remove();
    $("label[for='id_form-__prefix__-DELETE']").remove();
    
    $('#add-model-form').click(function() {
        let form_index = $('#id_form-TOTAL_FORMS').val();
        $('#order_item_formset .form-row:last button').hide();
        $('#order_item_formset').append($('#empty_form').html().replace(/__prefix__/g, form_index));
        $('#id_form-TOTAL_FORMS').val(parseInt(form_index) + 1);
    });

    $('#order_item_formset').on('click', '.remove-form', function () {
        $(this).closest('.form-row').remove();
        let form_index = $('#id_form-TOTAL_FORMS').val();
        $('#id_form-TOTAL_FORMS').val(parseInt(form_index) - 1);
        $('#order_item_formset .form-row:last button').show()
});
});


</script>

{% endblock %}